@media (max-width: 490px) {
    .img-house {
        display: flex; /* Mengubah elemen menjadi Flexbox */
        flex-direction: column; /* Membuat elemen dalam kolom */
        justify-content: center; /* Memusatkan elemen secara vertikal */
        align-items: center; /* Memusatkan elemen secara horizontal */
        margin-left: 0.8rem !important;
    }
}

@media(width:540px){
    .img-house {
        display: flex; /* Mengubah elemen menjadi Flexbox */
        flex-direction: column; /* Membuat elemen dalam kolom */
        justify-content: center; /* Memusatkan elemen secara vertikal */
        align-items: center; /* Memusatkan elemen secara horizontal */
        margin-left: 0.8rem !important;
    }
}

.footer {
  background: #c89d53;
}

.footer-logo {
  max-width: 220px; /* ⬅️ DIPERKECIL */
}

.footer-info p {
  font-size: 13px;
  line-height: 1.4;
}

.footer h6 {
  font-size: 16px;
  letter-spacing: 0.3px;
}

.footer p.small {
  font-size: 15px;
  line-height: 1.45;
  opacity: 0.9;
}


.footer-social {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #e1b76a;
  color: #fff;
  font-size: 15px;
  transition: 0.3s;
}

.footer-social:hover {
  background: #e1b76a;
  color: #000;
}

.footer-divider {
  border-color: rgba(255,255,255,0.15);
}

/* MOBILE */
@media (max-width: 768px) {
  .footer {
    text-align: center;
  }

  .footer-logo {
    max-width: 180px;
  }
}